.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: var(--color-bg);
  overflow: hidden;
}

.app-layout__main {
  flex: 1;
  height: 100%;
  margin-left: 240px;
  background: var(--color-bg);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
